.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  min-width: 4.5rem;
  min-height: 4.5rem;
  margin-right: 0.5rem;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: var(--logo-box-shadow);
}

.tag {
  margin: 1.5px 1.5px;
  border: 1px #b4a3d7 solid;
  border-radius: 2px;
  padding: 0.5px 2px;
  font-size: var(--font-medium);
  color: var(--fg-color);
  text-wrap: nowrap;
  user-select: none;
}

.tag-neutral {
  border-color: var(--neutral);
}

.tag-primary {
  border-color: var(--primary);
}

.tag-secondary {
  border-color: var(--secondary);
}

.achievement {
  margin: 1.5px;
  
  border-radius: 2px;
  font-size: var(--font-medium);
  padding: 0.5px 2px;
  color: var(--fg-color);
}

.activity {
  margin: 1.5px;
  border: 1px #9eb4ff solid;
  border-radius: 2px;
  font-size: var(--font-medium);
  padding: 0.5px 2px;
  color: var(--fg-color);
}


.button-link {
  display: flex;
  justify-content: center;
  padding: 5px;
  font-size: var(--font-large);
  cursor: pointer;
}