.logo-container {
  display:flex;
  align-items: center;
}

.logo {
    min-width: 3.5rem;
    min-height: 3.5rem;
    margin-right: 0.5rem;
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 3px 3px hsl(197, 8%, 34%) inset;
  }


.tag {
  margin: 1.5px 1.5px;
  background-color: #b4a3d7;
  border-radius: 2px;
  padding: 0.5px 2px;
  font-size: 10pt;
  color: black;
  text-wrap: nowrap;
}

.achievement {
  margin: 1.5px;
  background-color: #dcdcdc;
  border-radius: 2px;
  font-size: 10pt; 
  padding: 0.5px 2px;
  color: black;
}

.activity {
  margin: 1.5px;
  background-color: #9eb4ff;
  border-radius: 2px;
  font-size: 11pt;
  padding: 0.5px 2px;
  color: black;
}