.side {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.time {
  padding: 0.125rem 0.125rem;
  max-width: 5rem
}

.time > p {
  font-size: 9pt;
}

.tech {
  display: flex;
  flex-direction: row;
  margin: 0.15rem 0;
  flex-wrap: wrap;
}

.achievements {
  display: flex;
  flex-direction: row;
  margin: 0.15rem 0;
  flex-wrap: wrap;
}

.scope-of-activities {
  display: flex;
  flex-direction: row;
  margin: 0.15rem 0;
  flex-wrap: wrap;
}

.projects {
  margin-top: 0.25rem;
}

.project {
  display: flex;
  margin-top: 0.5rem;
}

.title {
  font-size: large;
}

.sub-title {
  font-size: medium;
  word-wrap: break-word;
}
