.side {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.work-info {
  width: 50%;
}

.time {
  display: flex;
  align-items: center;
}

.time > .years {
  font-size: 9pt;
  margin-right: 10px;
}

.time > .duration {
  font-size: 9pt;
}

.tech {
  display: flex;
  flex-direction: row;
  margin: 0.15rem 0;
  flex-wrap: wrap;
}

.achievements {
  display: flex;
  flex-direction: row;
  margin: 0.15rem 0;
  flex-wrap: wrap;
}

.scope-of-activities {
  display: flex;
  flex-direction: row;
  margin: 0.15rem 0;
  flex-wrap: wrap;
}

.projects-container {
  margin-left: 0.75rem;
}

.projects {
  margin-top: 0.25rem;
}

.project {
  display: flex;
  margin-top: 0.5rem;
}

.title {
  font-size: large;
}

.location {
  font-size: small;
}

.sub-title {
  font-size: medium;
  word-wrap: break-word;
}
