* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.App {
  background: #ffffff;
  height: 100%;
  background-color: #1d1b1b;
}

.split-view-col {
  max-width: 35%;
}

.content {
  margin: 0 1.5rem;
}

.container {
  margin: 0px auto;
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
}

.container .card {
  padding: 10px;
  border-radius: 2px;
  font-size: 10px;
  color: #e0dddd;
  flex-grow: 1;
  flex-basis: 35rem;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.flex-grow-1 {
  flex-grow: 1;
}

.nowrap {
  text-wrap: nowrap;
}

.section {
  padding: 0 2px 2px 0;
  width: 100%;
}

.section h4 {
  color:rgb(150, 150, 150)
}

.m-1 {
  margin: 2px 0;
}