* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.App {
  height: 100%;
  background-color: var(--bg);
}

.split-view {
  flex-wrap: wrap;
}

.split-view-col {
  flex-basis: 35rem;
  flex-grow: 1;
}

.content {
  margin: 1rem 0.25rem;
}

.container {
  margin: 0px auto;
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
}

.container .card {
  padding: 10px;
  border-radius: 2px;
  color: var(--fg);
  flex-grow: 1;
  flex-basis: 35rem;
}

.row {
  display: flex;
  flex-direction: row;
}

.row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.flex-grow-1 {
  flex-grow: 1;
}

.nowrap {
  text-wrap: nowrap;
}

.section {
  padding: 0 2px 2px 0;
  width: 100%;
}

.m-1 {
  margin: 2px 0;
}