* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.App {
  background: #ffffff;
  height: 100vh;
}
.container {
  margin: 0px auto;
}
.container .blog {
  display: flex;
  padding: 10px;
}
.container .card {
  background-color: #bee7f8;
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
  font-size: 10px;
  color: rgb(50, 47, 47);
}
.container .card img {
  width: 100%;
}

p {
  text-wrap:wrap;
  line-break: strict;
  font-size: 0.75rem;
}

.nowrap {
  text-wrap: nowrap;
}