:root {
  font-family: "Roboto", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  --fg-color: rgba(255, 255, 255, 0.87);
  --header-bg-color: rgb(0,0,0);
  --header-box-shadow: 0px 2px 10px 2px rgba(0,0,0,1.0);
  --logo-box-shadow: 0px 0px 0.25rem 1px rgba(0,0,0) inset;
  --bg-color: #242424;
  --card-bg: var(--bg);
  --link-color: #d9d9d9;
  --link-color-hover: #aaaed9;

  color: var(--fg-color);
  background-color: var(--bg-color);
  
  
  --hr-color: #757575;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --margin-timeline: 1rem;

  --blue: #0d6efd;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #d63384;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #198754;
  --teal: #20c997;
  --cyan: #0dcaf0;
  --gray: #757575;
  --gray-dark: #4f4f4f;

  --neutral: #7f7f7f;
  --primary: #1c03ab;
  --secondary: #590089;

  --success: #00b74a;
  --info: #39c0ed;
  --warning: #ffa900;
  --danger: #f93154;

  --light: #fbfbfb;
  --dark: #262626;
  --white: #fff;
  --black: #000;

  --font-xx-large: 2rem;
  --font-x-large: 1.5rem;
  --font-large: 1rem;
  --font-medium: 0.85rem;
  --font-small: 0.75rem;
  --portrait-size: 10rem;
  --logo-md: 5.5rem;
  --logo-sm: 3rem;
  --timeline-point-size: 1.5rem;
  --timeline-point-hadjust: -1rem;
  --timeline-point-border: 3px solid;
}


:root[data-theme="light"] {
  --fg-color: #242424;
  --bg-color: #ffffffde;
  --header-bg-color: rgb(208, 208, 208);
  --header-box-shadow: 0px 10px 10px 2px rgba(208, 208, 208,1.0);
  --logo-box-shadow: 0px 0px  0.25rem 1px rgba(208, 208, 208) inset;
  --link-color: #3e3e3e;
  --link-color-hover: #2d2d74;
}

@media only screen and (max-width: 750px) {
  :root {
    --font-xx-large: 1.5rem;
    --font-x-large: 1rem;
    --font-large: 0.85rem;
    --font-medium: 0.75rem;
    --font-small: 0.75rem;
  }
}

@media print {
  :root {
    --font-xx-large: 12pt;
    --font-x-large: 10pt;
    --font-large: 8pt;
    --font-medium: 6pt;
    --font-small: 5pt;

    --portrait-size: 5rem;
    --logo-md: 2.5rem;
    --logo-sm: 2rem;
    --timeline-point-size: 0.7rem;
    --timeline-point-hadjust: -0.54rem;
    --timeline-point-border: 2px solid;
  }
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--link-color-hover);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 700px;
  min-height: 100vh;
}

hr.smooth {
  height: 5px;
  border: 0;
  color: var(--card-bg);
  background-color: var(--card-bg);
  box-shadow: 0 4px 4px -5px var(--hr-color) inset;
}

h1 {
  font-size: var(--font-xx-large);
  line-height: 1.1;
}

h2 {
  font-size: var(--font-x-large)
}

h3 {
  font-size: var(--font-large)
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: var(--font-large);
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 1px auto -webkit-focus-ring-color;
}

div, p {
  text-wrap: wrap;
  line-break: strict;
  font-size: var(--font-medium);
}

body {
  --sb-track-color: #6d6d6d;
  --sb-thumb-color: #41415f;
  --sb-size: 8px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 2px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 2px;
  border: 1px solid #232e33;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

.mt-1 {
  margin-top: 0.5rem;
}

.flex-wrap {
  flex-wrap: wrap;
}

.section {
  margin: 0 1rem;
}

.timeline-card {
  position: relative;
  margin-left: var(--margin-timeline);
  border-left: 2px solid var(--fg-color);
  box-shadow: 0px -8px 8px -8px var(--hr-color) inset;
}

.timeline-card:before {
  content: '';
  display: inline-block;
  position: absolute;
  background-color: #fff;
  border-radius: 100%;
  width: var(--timeline-point-size);
  height: var(--timeline-point-size);
  top: 1rem;
  left: var(--timeline-point-hadjust);
  border: var(--timeline-point-border);
}

.timeline-head {
  margin-left: var(--margin-timeline);
}

.timeline-body > div {
  margin-left: var(--margin-timeline);
}

.timeline-card-primary:before {
  border-color: var(--primary)
}

.timeline-card-info:before {
  border-color: var(--info)
}

.timeline-card-secondary:before {
  border-color: var(--secondary)
}

.timeline-card-success:before {
  border-color: var(--teal)
}

.pagebreak {
  page-break-inside: avoid;
}