:root {
  font-family: "Roboto", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  --card-bg: hsl(0, 0%, 19%);
  --bg: black;
  --hr-color: #757575;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --margin-timeline: 1rem;

  --blue: #0d6efd;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #d63384;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #198754;
  --teal: #20c997;
  --cyan: #0dcaf0;
  --gray: #757575;
  --gray-dark: #4f4f4f;

  --dark-blue: #1c03ab;
  --dark-purple: #590089;

  --primary: var(--dark-blue);
  --secondary: var(--dark-purple);

  --success: #00b74a;
  --info: #39c0ed;
  --warning: #ffa900;
  --danger: #f93154;

  --light: #fbfbfb;
  --dark: #262626;
  --white: #fff;
  --black: #000;
  
}

a {
  font-weight: 500;
  color: #99999b;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

hr.smooth {
  height: 5px;
  border: 0;
  color: var(--card-bg);
  background-color: var(--card-bg);
  box-shadow: 0 4px 4px -5px var(--hr-color) inset;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

div, p {
  text-wrap: wrap;
  line-break: strict;
  font-size: 12pt;
}

body {
  --sb-track-color: #6d6d6d;
  --sb-thumb-color: #41415f;
  --sb-size: 8px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 2px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 2px;
  border: 1px solid #232e33;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

.mt-1 {
  margin-top: 0.5rem;
}

.section {
  margin: 0 1rem;
}

.timeline-card {
  position: relative;
  margin-left: var(--margin-timeline);
  border-left: 2px solid #e6e9ed;
  box-shadow: 0 -12px 8px -10px var(--hr-color) inset;
}

.timeline-card:before {
  content: '';
  display: inline-block;
  position: absolute;
  background-color: #fff;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  top: 1rem;
  left: -18px;
  border: 5px solid;
}

.timeline-head {
  margin-left: var(--margin-timeline);
}

.timeline-body {

}

.timeline-body > div {
  margin-left: var(--margin-timeline);
}

.timeline-card-primary:before {
  border-color: var(--primary)
}

.timeline-card-info:before {
  border-color: var(--info)
}

.timeline-card-secondary:before {
  border-color: var(--secondary)
}

.timeline-card-success:before {
  border-color: var(--teal)
}