.side {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.work-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.work-info {
  flex-basis: 20rem;
  padding: 0 0.5rem 0.5rem 0;
}

.time {
  display: flex;
  align-items: center;
}

.time > .years {
  font-size: var(--font-small);
  margin-right: 10px;
}

.time > .duration {
  font-size: var(--font-small);
}

.tech {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.achievements-container {
  flex-basis: 15rem;
  padding: 0 0.5rem 0.5rem 0;
  flex: 1;
}

.achievements {
  display: flex;
  flex-direction: row;
  margin: 0.15rem 0;
  flex-wrap: wrap;
}

.scope-of-activities {
  display: flex;
  flex-direction: row;
  margin: 0.15rem 0;
  flex-wrap: wrap;
}

.projects-container {
  margin-left: calc(var(--logo-md) / 5);
}

.projects {
  flex: 2;
  flex-basis: 15rem;
}

.additional-info {
  flex: 1;
  flex-basis: 15rem;
}

.project {
  display: flex;
  margin-top: 0.25rem;
}

.title {
  font-size: var(--font-large);
}

.location {
  font-size: var(--font-medium);
}

.sub-title {
  font-size: var(--font-large);
  word-wrap: break-word;
}
